<ul>
  <li>Tech Conference</li>
</ul>

<form id='new_conference_form'>
  <label for='name'>Name:</label>
  <input name='name' type='text' />

  <input type='submit' id='create_conference_button' value='Create conference' />
</form>
